  <div class="container" style="width: 70%">
    <h2>All User</h2>
    <mat-accordion >
      <mat-expansion-panel *ngFor="let user of users">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>{{user.userName}}</b>
          </mat-panel-title>
          <mat-panel-description>
            View User Details
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h4 *ngIf="user.cards && user.cards.length > 0">Cards</h4>
        <div class="col-xs-12">
        <div class="col-xs-4" *ngFor="let card of user.cards">
            <mat-card class="example-card" >
                <mat-card-header>
                  <mat-card-title>{{ card.name }}</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  Card Number : {{card.card}}<br>
                  Expiry Date : {{ card.expiry | date : 'MM/yyyy'}}<br>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)='deleteCard(card, user.userId)'>Delete</button>
                </mat-card-actions>
              </mat-card>
              <br>
        </div>
      </div>
        <br>
        
        <h4>Add Card</h4>
                <mat-card>
                    <mat-card-content>
                      <mat-input-container>
                        <input matInput placeholder="Card Number" [(ngModel)]="card.card">
                      </mat-input-container>
                      <mat-input-container>
                        <input matInput placeholder="Name of the card" [(ngModel)]="card.name">
                      </mat-input-container>
                      <mat-input-container>
                        <input matInput placeholder="cvv" [(ngModel)]="card.cvv" maxlength="3">
                      </mat-input-container>
                
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Exp Date" [(ngModel)]="card.expiry">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button color="primary" (click)="addCard(user.userId)" >Add</button>
                    </mat-card-actions>
                  </mat-card>
            
            <!-- <mat-tab label="Make Paymenr">
                <mat-card>
                    <mat-card-content>
                      <mat-input-container>
                        <input matInput placeholder="Card Number" [(ngModel)]="card.card">
                      </mat-input-container>
                      <mat-input-container>
                        <input matInput placeholder="Name on the card" [(ngModel)]="card.name">
                      </mat-input-container>
                      <mat-input-container>
                        <input matInput placeholder="cvv" [(ngModel)]="card.cvv" maxlength="3">
                      </mat-input-container>
                
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="card.expiry">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                
                      <mat-input-container>
                        <input matInput placeholder="Amount" [(ngModel)]="card.amount">
                      </mat-input-container>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button color="primary" (click)="checkCard()" >Submit</button>
                    </mat-card-actions>
                  </mat-card>
            </mat-tab>
        </mat-tab-group> -->

        <!-- <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field> -->
      </mat-expansion-panel>
  </mat-accordion>


<br>
<h4>Add User</h4>
<mat-card>
    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="User Name" [(ngModel)]="user.userName">
      </mat-input-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addUser()" >Add User</button>
    </mat-card-actions>
  </mat-card>
</div>